/* styles/fonts.css */
@layer font {
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Libre Franklin';
    src: url('/fonts/LibreFranklin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Neue Metana';
    src: url('/fonts/NeueMetana-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Neue Metana';
    src: url('/fonts/NeueMetana-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Basier Circle';
    src: url('/fonts/BasierCircle-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}
